# govnostarter scripts
start.sh
stop.sh

# dev-version
static-dev/
src/ngk/api_dev.py

# secret keys
src/ngk/.env

src/ngk/__pycache__
src/tests/__pycache__
src/ngk/*.log
logs/
dumps/
compress.log
db_dumps/
db_dump.log