[Unit]
Description=NGK posts scanner

[Service]
Type=simple
User=python
WorkingDirectory=/home/python/ngk/src
ExecStart=/usr/bin/env python3 -m ngk.fetch_posts
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target