[Unit]
Description=NGK posts scanner
PartOf=ngk.target

[Service]
Type=simple
WorkingDirectory=/home/python/ngk/src
ExecStart=/usr/bin/env python3 -m ngk.fetch_posts
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target