[Unit]
Description=NGK comments scanner

[Service]
Type=simple
WorkingDirectory=/home/python/ngk/src
ExecStart=/usr/bin/env python3 ngk/scan_comments.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target