<div class="header">
    <img src="/img/logo.webp" style="height: 120px; float: left; margin-right: 20px;">
    <p>Бесконечный сток имени Борманда: <a href="http://govnokod.ru">ГК</a>, <a href="http://govnokod.xyz">хуз</a>.</p>
    <p>Исходники: <a href="https://github.com/gost-gk/ngk">https://github.com/gost-gk/ngk</a></p>
    <p><a href="" ng-click="unignoreEverything($event)">[Разбанить всё]</a>
        <a href="#!/blacklist">[Чёрный список]</a>
       <a href="#!/search">[Порыться в говне]</a>
       <a href="#!/settings">[Настройки фильтра]</a>
       <a href="/db_dumps/">[Дампы базы]</a></p>
</div>
<div>
    <div ng-repeat="comment in comments" ng-include="'comment-template-base'" ng-class="{'comment':true, 'new': comment.is_new}">
    </div>
    <div>
        <button ng-click="loadMoreComments()">Ещё комменты</button>
    </div>
</div>
