<div class="header">
    <img src="logo.png" style="height: 120px; float: left; margin-right: 20px;">
    <p>Новое зеркало <a href="http://govnokod.ru">ГК</a> (<a href="http://govnokod.xyz">альтернативный хуз</a>).</p>
    <p>Исходники: <a href="https://github.com/gost-gk/ngk">https://github.com/gost-gk/ngk</a></p>
    <p>Более свежие исходники с новыми фичами потеряны навсегда, осталась только эта, старая, версия.</p>
    <p><a href="" ng-click="unignoreAllUsers($event)">[Разбанить всех]</a>
       <a href="#!/search">[Порыться в говне]</a>
       <a href="#!/settings">[Настройки фильтра]</a></p>
</div>
<div>
    <div ng-repeat="comment in comments" ng-class="{'comment':true, 'new': comment.is_new}">
        <img ng-src="{{comment.avatar_url}}" class="avatar">
        <div class="content">
                <div class="info">
                <a href="http://govnokod.ru/user/{{comment.user_id}}">{{comment.user_name}}</a>
                <a href="" ng-click="ignoreUser(comment.user_id, comment.user_name)" class="ignore" title="Забанить">&#x2613;</a>
                насрал в
                <a href="http://govnokod.ru/{{comment.post_id}}#comment{{comment.id}}">#{{comment.post_id}}</a>
                (<a href="#!/{{comment.post_id}}#comment{{comment.id}}">Зеркало на NGK</a>)
                ({{comment.posted_local}})
                <span ng-bind-html="comment.source"></span>
                <ngk-comment-popup comment-id="{{comment.parent_id}}" post-id="{{comment.post_id}}" />
            </div>
            <div class="text" ng-bind-html="comment.text"></div>
        </div>
    </div>
    <div>
        <button ng-click="loadMoreComments()">Ещё комменты</button>
    </div>
</div>
