.header {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
}

.comment {
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    min-height: 74px;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    min-width: 60%;
}

.comment .avatar {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 48px;
    height: 48px;
    border: 1px solid #C0C0C0;
}

.comment .content {
    margin-left: 64px;
}

.comment .info {
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment .text {
    margin-bottom: 5px;
}

.nested-comment {
    margin-left: 20px;
}

.nested-comment .content {
    min-height: 48px;
}

.comment .ignore {
    color: black;
    text-decoration: none;
}

.comment.new {
    background-color: #e0ffe0;
}

pre {
    max-width: 100%;
    overflow: auto;
}


.comment-popup {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    width: 90%;
}

body {
    overflow-x: auto;
}