.header {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
}

.comment {
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;
    min-height: 74px;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
}

.comment .avatar {
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 64px;
    height: 64px;
    border: 1px solid #C0C0C0;
}

.comment .content {
    margin-left: 80px;
}

.comment .info {
    margin-top: 5px;
    margin-bottom: 5px;
}

.comment .text {
    margin-bottom: 5px;
}

.nested-comment {
    margin-left: 20px;
}

.nested-comment .content {
    min-height: 64px;
}
