<div class="header">
    <a href="#!/">На главную</a> <a href="http://govnokod.ru/{{post.id}}">#{{post.id}} на ГК</a>
    <a href="" ng-click="enableTreeMode(false);">[Список]</a>
    <a href="" ng-click="enableTreeMode(true);">[Дерево]</a>
</div>
<div>
    <div class="comment">
        <img ng-src="{{post.avatar_url}}" class="avatar" onerror="this.onerror = null; this.src = '/img/default.png';">
        <div class="content">
            <div class="info">
                <a href="https://govnokod.ru/user/{{post.user_id}}">{{post.user_name}}</a> {{post.posted_local}}
            </div>
            <div class="text">
                <pre>{{post.code}}</pre>
                <div ng-bind-html="post.text"></div>
            </div>
        </div>
    </div>
    <div ng-repeat="comment in post.comments" ng-class="{'comment': true, 'new': comment.is_new}"
         ng-style="{'margin-left': (comment.indent * 15) + 'px'}"
         ng-include="'comment-template-base'"
         ng-attr-id="comment{{comment.id}}">
    </div>
</div>

