<div class="header">
    <a href="#!/">На главную</a> <a href="http://govnokod.ru/{{post.id}}">#{{post.id}} на ГК</a>
</div>
<script type="text/ng-template" id="comment-template">
<div ng-class="{'comment': true, 'nested-comment': true, 'new': comment.is_new}">
    <img ng-src="{{comment.avatar_url}}" class="avatar">
    <div class="content">
        <a name="comment{{comment.id}}"></a>
        <div class="info">
            <a href="http://govnokod.ru/user/{{comment.user_id}}">{{comment.user_name}}</a> {{comment.posted}}
            <a href="http://govnokod.ru/{{post.id}}#comment{{comment.id}}">#</a>
        </div>
        <div class="text" ng-bind-html="comment.text"></div>
    </div>
    <div ng-repeat="comment in comment.children" ng-include="'comment-template'">
    </div>
</div>
</script>
<div>
    <div class="comment">
        <img ng-src="{{post.avatar_url}}" class="avatar">
        <div class="content">
            <div class="info">
                <a href="http://govnokod.ru/user/{{post.user_id}}">{{post.user_name}}</a> {{post.posted}}
            </div>
            <div class="text">
                <pre>{{post.code}}</pre>
                <div ng-bind-html="post.text"></div>
            </div>
        </div>
        <div ng-repeat="comment in post.comments" ng-include="'comment-template'">
        </div>
    </div>
</div>

