<div class="header">
    <a href="#!/">На главную</a> <a href="http://govnokod.ru/{{post.id}}">#{{post.id}} на ГК</a>
    <a href="" ng-click="enableTreeMode(false);">[Список]</a>
    <a href="" ng-click="enableTreeMode(true);">[Дерево]</a>
</div>
<div>
    <div class="comment">
        <img ng-src="{{post.avatar_url}}" class="avatar">
        <div class="content">
            <div class="info">
                <a href="http://govnokod.ru/user/{{post.user_id}}">{{post.user_name}}</a> {{post.posted_local}}
            </div>
            <div class="text">
                <pre>{{post.code}}</pre>
                <div ng-bind-html="post.text"></div>
            </div>
        </div>
    </div>
    <div ng-repeat="comment in post.comments" ng-class="{'comment': true, 'new': comment.is_new}"
         ng-style="{'margin-left': (comment.indent * 15) + 'px'}">
        <img ng-src="{{comment.avatar_url}}" class="avatar">
        <div class="content">
            <a name="comment{{comment.id}}"></a>
            <div class="info">
                <a href="/#!/search?user={{comment.user_name}}" target="_blank">{{comment.user_name}}</a>
                (<a href="http://govnokod.ru/user/{{comment.user_id}}">{{comment.user_id}}</a>)
                <a href="" ng-click="ignoreUser(comment.user_id, comment.user_name)" class="ignore" title="Забанить">&#x2613;</a>
                {{comment.posted_local}}
                <a href="http://govnokod.ru/{{post.id}}#comment{{comment.id}}">#</a>
                <span ng-bind-html="post.source"></span>
                <ngk-comment-popup comment-id="{{comment.parent_id}}" post-id="{{comment.post_id}}" />
            </div>
            <div class="text" ng-bind-html="comment.text"></div>
        </div>
    </div>
</div>

