<div class="header">
    <p ng-if="isUserValid">Ответы на комменты пользователя <b>{{user}}</b></p>
    <p ng-if="!isUserValid">Такого пользователя нет.</p>
    <a href="#!/">На главную</a><br>
</div>
<div>
    <div ng-repeat="comment in comments track by $index"
         ng-class="{'comment':true, 'new': comment.is_new}"
         ng-style="{'margin-left': (comment.indent * 15) + 'px'}"
         ng-include="'comment-template-base'">
    </div>
    <div ng-if="!allRepliesLoaded">
        <button ng-click="loadMoreResults()">Ещё ответы</button>
    </div>
    <div ng-if="allRepliesLoaded">
        Всё.
    </div>
</div>
