<div class="header">
    <a href="#!/">На главную</a><br>

    <form>
    Порыться в говне:
    <input id="query-input" tabindex="1" ng-model="query" placeholder="{{example}}">
    <input id="username-input" tabindex="1" class="autocompletion-focusable" autocomplete="off"
        ng-model="username"
        ng-keydown="usernameKeydown($event)"
        ng-focus="usernameGainedFocus()"
        ng-blur="usernameLostFocus()"
        ng-change="updateSuggestions(username)"
        placeholder="{{exampleUsername}}"
    >
    <button id="submit-button" tabindex="2" ng-keydown="submitButtonKeydown($event)" ng-click="search()">Искать!</button>
    </form>
    <br>
    Точный поиск: <code>"выражение"</code> (на данный момент поддерживается только поиск
    по одному полному выражению).
</div>
<div ng-switch="state">
    <div ng-switch-when="NO_QUERY">Введите запрос.</div>
    <div ng-switch-when="IN_PROGRESS">Ищем...</div>
    <div ng-switch-when="NOT_FOUND">Ничего не найдено.</div>
    <div ng-switch-when="FOUND">
        <div tabindex="-1" ng-repeat="comment in result" ng-include="'comment-template-base'" class="comment"></div>
        <div ng-if="!searchComplete">
            <button tabindex="-1" ng-click="loadMoreResults()">Ещё результаты</button>
        </div>
        <div ng-if="searchComplete">
            Поиск завершён.
        </div>
    </div>
</div>

<ul id="autocompletion-list" class="autocompletion-list" style="display: none;">
    <span ng-if="usernameSuggestions.length > 0" ng-repeat="user in usernameSuggestions">
        <li id="username-suggestion-{{$index}}" class="autocompletion-focusable autocompletion-list-item" tabindex="1"
            ng-click="applySuggestion(user)"
            ng-keydown="suggestionItemKeydown($index, $event)"
            ng-keyup="suggestionItemKeyup($index, $event)"
            ng-focus="suggestionItemGainedFocus($index)"
            ng-blur="suggestionItemLostFocus($index)">
            <div class="autocompletion-item">{{user}}</div>
        </li>
    </span>
    <span ng-if="usernameSuggestions.length <= 0">
        <li><div class="autocompletion-item">Нет результатов.</div></li>
    </span>
</ul>
