<div class="header">
    <a href="#!/">На главную</a><br>

    <form>
    Порыться в говне:
    <input ng-model="query" placeholder="{{example}}">
    <input ng-model="username" placeholder="{{exampleUsername}}">
    <input ng-click="search()" type="submit" value="Искать">
    </form>
</div>
<script type="text/ng-template" id="comment-template-search">
<div class="comment">
    <img ng-src="{{comment.avatar_url}}" class="avatar">
    <div class="content">
        <a name="comment{{comment.id}}"></a>
        <div class="info">
            <a href="/#!/search?user={{comment.user_name}}">{{comment.user_name}}</a>
            <span>(<a href="http://govnokod.ru/user/{{comment.user_id}}">{{comment.user_id}}</a>)</span>
            {{comment.posted_local}}
            <a href="" ng-click="ignoreUser(comment.user_id, comment.user_name)" class="ignore" title="Забанить">&#x2613;</a>
            <a href="http://govnokod.ru/{{comment.post_id}}#comment{{comment.id}}">#</a>
            <span ng-bind-html="comment.source"></span>
            <ngk-comment-popup comment-id="{{comment.parent_id}}"  post-id="{{comment.post_id}}"/>
        </div>
        <div class="text" ng-bind-html="comment.text"></div>
    </div>
</div>
</script>
<div ng-switch="state">
    <div ng-switch-when="NO_QUERY">Введите запрос.</div>
    <div ng-switch-when="IN_PROGRESS">Ищем...</div>
    <div ng-switch-when="NOT_FOUND">Ничего не найдено.</div>
    <div ng-switch-when="FOUND">
        <div ng-repeat="comment in result" ng-include="'comment-template-search'"></div>
        <div ng-if="!searchComplete">
            <button ng-click="loadMoreResults()">Ещё результаты</button>
        </div>
        <div ng-if="searchComplete">
            Поиск завершён.
        </div>
    </div>
</div>